h1{
    background-color: black;
    padding: 9px;
    margin: 0px;
    border:solid;
    color:coral;
    text-align: center;
    
}

body{

height:100%;
margin-left: 120px;
margin-right: 120px;

align-content: center;



}


.form{
    
    margin:auto;
    border: solid;
    border-color: whitesmoke;
    text-align: center;
    width:50%;
    height: 100%;
}

input[type=text]{
    background-color: whitesmoke;
    color: black;
    width: 250px;
    height: 30;
}
input{
    height: 30px;
    width: 250px;
}
tr{

 
    padding: 4px;
    border-radius: 10px;
    border-color: rgb(36, 41, 41);
    size:500px;
    height:50px;
    background-color: aqua;
}

p{
   background-color: black;
   text-align: center;
   color: white;
}

.container{
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: tomato;
}